$color-primary:  rgba(19, 22, 88, 0.8);
$color-primary-light:  rgba(20, 23, 90, 0.8);
$color-primary-lighter:  rgba(34, 40, 156, 0.8);
$color-primary-dark: rgb(7, 10, 53);
$color-primary-dark-low: rgb(13, 17, 73);

$color-secondary: rgba(202, 29, 29, 0.87);



$color-text: #444;

$shadow-dark: 0 1rem 3rem rgba(0, 0, 0, .4);
$shadow-dark-normal: 0 1rem 1.5rem rgba(0, 0, 0, .3);
$shadow-dark-low: 0 .5rem 1rem rgba(0, 0, 0, .3);


$gutter-horizontal: 1.5rem;
$gutter-horizontal-blog: 8rem;
$gutter-horizontal-blog-res: 5rem;